body{
    background-color: #f1f3f6;
    padding-top:56px;
}
.search-container .input-group input[type=text]{
    width:500px;
}

.search-container .input-group input[type=text]:hover{
    border:none;
}
.input-group-btn button{
    background:#fcbb6a;
    border-radius:2%;
    border-bottom-right-radius: 2px;
} 

.input-group-btn button:hover{
    background:#d38d37;

} 

.navbar-nav a{
    color:#D3D3D3; 
    text-decoration:none;
    position: relative;
    padding-right:20px;
    font-weight: 500;
}

.navbar-nav a:hover{
    color:#ffffff; 
    text-decoration:none;
}

.navbar-nav .dropdown-menu a{
    color:rgb(75, 73, 73);
}



#category-container .row{
    padding-top:12px;
    padding-bottom:5px;
    border:none;
  }


#category-container .row .btn-link{
    text-decoration:none;
    color:black;
    font-weight:500;
}

#category-container .row .btn-link:hover{
    text-decoration:none;
    color:black;
}


#category-container-parent{

    position: relative;
    bottom:8px;
}

.main-content{
    position: relative;

}

.main-content .navigator{
    position:absolute;
    float:left;
    left:10px;
    width:300px;
    height:800px;
    background-color:#343a40;
}

.main-content .details-container{
    color:white;
    float:left;
    position:absolute;
    left:320px;
    height:800px;
    width:78.5%;
    background-color:#343a40;
}

.navigator{
    color:white;
    padding-top:10px;
    padding-left:5px;
    padding-right:5px;
}

.navigator .user_pic{
    display:block;
    width: 100%;
    padding-left:8px;
    padding-bottom:10px;
  
}
.main-content .navigator .specify{
    padding-top:12px;
    padding-bottom:12px;
    width:100%;
    padding-left:10px;
    border-top: 1px solid #f0f0f0;
    display:flex;
}
.main-content .navigator .specify-content:hover{

      color:white;
}
.main-content .navigator .specify .img-title{
    padding-left:10px;
    padding-top:3px;
}
.main-content .navigator a:hover{
    text-decoration:none;
}
.main-content .navigator .specify-content{
    padding-top:9px;
    padding-bottom:9px;
    width:100%;
    padding-left:40px;
    color:white;
}
.main-content .navigator .specify-container{
    padding-bottom:5px;
}

.main-content .details-container .user_data{
    padding:20px;
}

.main-content .details-container h3{
    font-weight:500;
}

.main-content .details-container label{
    display:block;
}

.main-content .details-container input[type="radio"]{
    display:inline-block;
    width:17px;
    height:17px;
    margin-bottom:8px;
}

.main-content .details-container input[type="submit"]{
    background-color: dodgerblue;
    width:100px;
    margin-top:20px;
    margin-left:150px;
    height:40px;
    color:white;
    border-radius:5px;
    border:none;
}

.main-content .details-container input[type="submit"]:hover{
     background-color: rgb(0, 93, 187);
     cursor: pointer;
}

.main-content .details-container input[type="text"],input[type="email"],input[type="tel"]{
    display:block;
    margin-bottom:8px;
    width:40%;
    border:none;
    border-radius:2px;
    padding-left:3px;
    height:30px;
}
.main-content .details-container span{
    font-weight: bold;
}